textarea{
  width: 68%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
#title-input{
  width:68%;
}
#task-creator-buttons{
  margin-top:30px;
  margin-bottom:20px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#task-creator{
  text-align: center;
  border-radius: 5%;
}
.task-creator-header{
  margin-top:5%;
}
#form-p{
  margin-top:1rem;
  margin-bottom:0.3rem;
}